<div class="page-header">
  <h1>About HappyHour</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <p> HappyHour is a tool used to find your (soon) favorite bars and nightclubs
      in your area. We do this with two colored spheres over all of the bars
      in our database for your area. The colors go from Green:(good) to Red:(you knew it
      you clever human, bad). These two spheres represent these values:
    </p>
    <br>
    <ul>
      <li><strong>Left sphere:</strong> Time left for the location's HappyHour</li>
      <li><strong>Right sphere:</strong> The average rating of the HappyHour by our users</li>
    </ul>
    <br>
    <p> We hope you find some new awesome places! Check back soon for even more functionality.
      In the meantime, drink up (but always take a cab home plz)
    </p>
  </div>
</div>
